*{text-align: center;}
header{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 30px;color: white;}
.fondo{background-image: url(a1fd204bff5e5fa57f1b75b6077f5824.gif);
position: relative;
overflow: hidden;
width: 1450px;
height: 800px;
background-size: 1470px;}
