*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0% auto;
    width: 1200px;
    padding: 0px;
}
header{
height: 180px;
margin-top: 10px;
margin-bottom:10px ;
}
.logo{
width: 600px;
height: 180px;
float: left;
}
.logo1{
    width: 250px;
}
ul{

width: 600px;
height: 90px;
float: right;
list-style: none;
padding-top: 90px
;
}
li{display: inline;
padding-left: 95px;
color: brown;}
.brown:link{ 
    color:brown;
}
li:hover{color: black;}
main{
   
    height: 600px;
}
video{
    width: 600px;
    height: 600px;
    float: left;
}
h2{font-size: 25px;
background-color: beige;
width: 600px;
height: 350px;float: right;
text-align: center;
padding-top: 250px;
}
span{color: brown;}
article{border: 2px black solid;
height: 80px;
text-align: center;
padding-top: 70px;
}
.baner1{ width: 500px;
float: left;}
.baner2{width: 500px;
float: right;}
.ideas{padding-top: 10px;}
footer{height: 70px;
padding-top: 300px;}
.logo1:hover{background-color: beige;}